a {
    font-size: 8pt;
    align-self: flex-end;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color: black;
}

.suggestion-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 275px;
}

.message {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

.popupmessage {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:#90EE90;
    color: black;
    font-size: 10px;
    text-align: center;

}